#parse("/velocity/layout.vm")
#@mainLayout()
    #if($user)
    <div class="user">
        <ul>
            <li>id: $user.getId()</li>
            <li>First Name: $user.getFirstName()</li>
            <li>Last Name: $user.getLastName()</li>
            <li>Phone Number: $user.getPhoneNumber()</li>
            <li>email: $user.getEmail()</li>
            <li>credit: $user.getCredit() Tomans</li>
            <form action="" method="POST">
                <button type="submit">increase</button>
                <input type="text" name="credit" value="" />
            </form>
        </ul>
    </div>
    #else
    <h1>not found</h1>
    #end
#end