#parse("/velocity/layout.vm")
#@mainLayout()
    #if($restaurant)
    <h1>$restaurant.Name</h1>
    <h3>Location: $restaurant.location.X, $restaurant.location.X</h3>
    <div class="restaurant">
        <div class="restaurantLogo">
            <img src="$restaurant.Logo" alt="$restaurant.Name">
        </div>
        <div class="row row-3">
            #foreach($food in $restaurant.ListMenu)
                <div class="col">
                    <div class="food">
                        <strong>Name: $food.Name</strong><br>
                        <strong>Description $food.description</strong><br>
                        <strong>Price: $food.price</strong><br>
                        <strong>Popularity: $food.popularity</strong><br>
                        <form action="/food" method="POST">
                            <input type="hidden" name="foodName" value="$food.Name" />
                            <input type="hidden" name="restaurantId" value=$restaurant.ID />
                            <button type="submit">addToCart</button>
                        </form>
                    </div><br>
                </div>
            #end
        </div>
    </div>
    #else
    <h1>Restaurant Not Found</h1>
    #end
#end
